{{- if .Results -}}
Use the provided documents to answer questions:
{{ range .Results }}
---
{{- if .Title }}
Title: {{ .Title }}
{{- end }}
{{- if .Location }}
Location: {{ .Location }}
{{- end }}
{{ .Content }}
{{ end }}
{{- end -}}

---
Question: {{ .Input }}