services:
  platform:
    image: ghcr.io/adrianliechti/llama-platform
    pull_policy: always
    build:
      context: ../../
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    configs:
      - source: platform
        target: /config.yaml
  
  mistral-7b-instruct:
    image: ghcr.io/huggingface/text-generation-inference:1.4
    pull_policy: always
    command: --hostname 0.0.0.0 --model-id mistralai/Mistral-7B-Instruct-v0.1
    shm_size: 1g
    volumes:
      - /models:/data
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
              
  nomic-embed-text:
    image: ghcr.io/huggingface/text-embeddings-inference:1.2
    pull_policy: always
    command: --hostname 0.0.0.0 --model-id nomic-ai/nomic-embed-text-v1.5
    shm_size: 1g
    volumes:
      - /models:/data
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
  
  whisper:
    image: ghcr.io/ggerganov/whisper.cpp:main-cuda
    pull_policy: always
    entrypoint: /app/server
    command: --host 0.0.0.0 --port 8000 --convert --model /models/whisper-ggml-medium.bin
    volumes:
      - /models:/models
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
  
  mimic:
    image: mycroftai/mimic3
    pull_policy: always
    volumes:
      - /models:/home/mimic3/.local/share/mycroft/mimic3
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
  
  web:
    image: ghcr.io/adrianliechti/llama-streamlit
    pull_policy: always
    ports:
      - 8501:8501
    environment:
      - OPENAI_BASE_URL=http://platform:8080/oai/v1
    depends_on:
      - platform
  
configs:
  platform:
    content: |
      providers:
        - type: huggingface
          url: http://mistral-7b-instruct
          models:
            mistral-7b-instruct:
              id: tgi
        
        - type: huggingface
          url: http://nomic-embed-text
          models:
            nomic-embed-text:
              id: tei
        
        - type: whisper
          url: http://whisper:8000
          models:
            whisper-1:
              id: default
        
        - type: mimic
          url: http://mimic:59125
          models:
            tts-1:
              id: default
