services:
  platform:
    image: adrianliechti/llama-platform
    pull_policy: always
    build:
      context: ../../
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    configs:
      - source: platform
        target: /config.yaml
  
  web:
    image: adrianliechti/llama-streamlit
    pull_policy: always
    ports:
      - 8501:8501
    environment:
      - OPENAI_BASE_URL=http://platform:8080/oai/v1
    depends_on:
      - platform
  
configs:
  platform:
    content: |
      providers:
        - type: openai
          token: ${OPENAI_API_KEY}
 
          models:
            gpt-3.5-turbo:
              id: gpt-3.5-turbo

            gpt-4-turbo:
              id: gpt-4-turbo

            text-embedding-ada-002:
              id: text-embedding-ada-002

            text-embedding-3-small:
              id: text-embedding-3-small

            text-embedding-3-large:
              id: text-embedding-3-large
