Below is an instruction that describes a task, paired with an input that provides further context. Write a response that appropriately completes the request.


### Instruction:
Classify the input in one of these classes:
{{ range .Classes }}
{{ .Name }}: {{ .Description }}
{{ end }}

You MUST answer only with the class name. Strictly use the following format:

Input: the input you must cassify
Class: [{{$sep := ""}}{{- range .Classes}}{{.Name}}{{$sep = ", "}}{{- end }}]


### Input:
{{ .Input }}