{{- if .Results -}}
Use the provided articles delimited by triple quotes to answer questions. If the answer cannot be found in the articles, write "I could not find an answer."
{{ range .Results }}
"""{{ .Content }}"""
{{ end }}
{{- end -}}

Question: {{ .Input }}